<table class="table table-hover table-striped">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <thead>
        <th>Nome</th>
        <th>Departamento</th>
        <th>Email</th>
        <th>Senha</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let funcionario of funcionarios | async">
        <td>{{funcionario.nome}}</td>
        <td>{{funcionario.departamento}}</td>
        <td>{{funcionario.email}}</td>
        <td>{{funcionario.password}}</td>

        <td>
            <button type="button" class="btn btn-info" (click)="edit(funcionario, funcionario.key)">Editar</button>
            <button type="button" class="btn btn-danger ml-2" (click)="delete(funcionario.key)">Excluir</button>
        </td>
        </tr>


      </tbody>
</table>
