<table class="table table-hover table-striped">
    <thead>
        <th>Nome</th>
        <th>Departamento</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let funcionario of funcionarios | async">
        <td>{{funcionario.nome}}</td>
        <td>{{funcionario.departamento}}</td>
        <td>
            <button type="button" class="btn btn-info" (click)="edit(funcionario, funcionario.key)">Editar</button>
            <button type="button" class="btn btn-danger ml-2" (click)="delete(funcionario.key)">Excluir</button>
        </td>
        </tr>
    </tbody>
</table>