<h2 class="display-4 font-weight-bold row justify-content-center pt-5 mb-2">Cadastro de Funcionários</h2>

<h3>   </h3>

<form (ngSubmit)="onSubmit()">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" [(ngModel)]="funcionario.nome" name="nome" placeholder="Nome do Funcionario">
  </div>

  <div class="form-group">
    <label>Departamento</label>
    <input type="text" class="form-control" [(ngModel)]="funcionario.departamento" name="departamento" placeholder="Departamento do Funcionario">
  </div>

  <div class="form-group">
    <label>Endereço de email</label>
    <input type="email" class="form-control" [(ngModel)]="funcionario.email" name="email" aria-describedby="emailHelp" placeholder="Seu email">
    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
  </div>

  <div class="form-group">
    <label>Senha</label>
    <input type="password" class="form-control" [(ngModel)]="funcionario.password" name="password" placeholder="Senha">
  </div>

  <button type="submit" class="btn btn-primary">Gravar</button>
</form>
